services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: smart_home_frontend
    restart: unless-stopped
    ports:
      - "19000:19000"
      - "19001:19001"  # Для метро бандлера
      - "19002:19002"  # Для Expo Dev Tools
    environment:
      - REACT_APP_API_URL=http://backend:8000  # Используем имя сервиса вместо IP
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
      - REACT_NATIVE_PACKAGER_HOSTNAME=192.168.56.1
    networks:
      - smart_home_network
    volumes:
      - .:/app

networks:
  smart_home_network:
    external: true
    name: smart_home
